{% extends 'mainapp/main.html' %}

{% block text %}   
    <div class="wrapper">
        <div class="room">
           <div class='container'>
              <div class="room__body">
                <p>Робота з системою управлiння закладом освiти починається з головної сторiнки .
                    Для заповнення розкладу на весь семестр необхiдно натиснути на кнопку "Вiдновити розклад на семестр"  та почекати декiлька секунд (доки сторiнка оновиться).
                    
                    Для оновлення розкладу на два днi необхiдно натиснути на кнопку "Вiдновити розклад на завтра"  та почекати певний час (доки сторiнка оновиться).
                    
                    Для запуску модулю автоматизованого розподiлу аудиторiй необхiдно натиснути на кнопку "Заповнити розклад аудиторiми" та почекати декiлька хвилин (доки сторiнка не оновиться). Також цю функцiю можна викликати на верхньому меню.
                    
                    Для вiдкриття розкладу на завтра необхiдно натиснути на кнопку "Розклад", яка знаходиться у верхньому меню сайту.
                    
                    Для вiдкриття розкладу на семестр необхiдно натиснути на кнопку "Розклад на семестр", яка знаходиться у верхньому меню сайту.
                    
                    Для вiдкриття сторiнки редагування аудиторiї,  необхiдно натиснути на кнопку "READ MORE", що знаходить необхiдну аудиторiю.
                    
                    Для виправлення аудиторiї необхiдно у певному рядку написати потрiбну аудиторiю. Та пiдтвердити редагування аудиторiї вiдповiдною кнопкою "Add". 
                    
                    Для нормальної роботи модулю автоматизованого розподiлу аудиторiй необхiдно заповнити аудиторiями розклад на семестр. Для цього вiдкриваємо сторiнку розкладу на семестр та редагуємо аудиторiї, як це показано ранiше. Необхiдно вписувати найкращу аудиторiю для цiєї пари. Аудиторiї в розкладi на семестр можуть повторюватись, або бути одночасно на рiзних парах, або на схожi пари, але в рiзнi днi, рiзнi аудиторiї.
                    
                    Отже, для безперебійної роботи програми важливо детально розробити модуль та відповідально працювати адміністратору, щоб інформація на сайті закладу завжди була актуальною, точною та правдивою.
                </p>
              </div>
           </div>
        </div>
     </div>
    
{% endblock %}