{% extends 'mainapp/main.html' %}

{% block text %}
    <div class="wrapper">
        <div class="main">
            <div class='container'>
                <div class="main__body">
                    <div class="main__btn">
                        <a href="../create">Заповнити розклад аудиторіями</a>
                        <a href="../parse">Відновити розклад на завтра</a>
                        <a href="../startet">Відновити розклад на семестр</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}